.hide {
    display: none;
}

.home-img {
    background-image: url("/client/img/tutoringbackground.png");
    background-size: auto;
}

.faq-img {
    background-image: url("/client/img/faqbackground.jpg");
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meet-img {
    background-image: url("/client/img/faqbackground.jpg");
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
