.hide {
    display: none;
}
body {
    overflow-y: hidden;
}
.stickToTop {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.ui.main.body {
    width: 100%;
    overflow-y: auto;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 1024px) {
    .ui.main.body {
        height: calc(100% - 100px);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


@media screen and (min-width: 1024px) {
    .home-img {
        height: 420px;
    }
}

@media screen and (max-width: 768px) {
    .home-img {
        height: 800px;
    }
    .leftSection {
        margin: 1rem
    }
    .ui.main.body {
        height: calc(100% - 100px);
    }
}

.home-img {
    background-image: url("/client/img/tutoringbackground.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-img {
    background-image: url("/client/img/faqbackground.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meet-img {
    background-image: url("/client/img/meetbackground.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
